---
layout: default
title: pixel.rip
description: An independent game design studio on a mission to make games with a positive social impact.
style: home
---

<section class="intro">
    <a href="mailto:go@pixel.rip" class="intro_email">go@<span class="intro_email_domain">pixel.rip</span></a>
    <p class="intro_mission">An independent game design studio on a mission to make games with a positive social impact.</p>
</section>

<h1>Latest Posts</h1>
<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <p>{{ post.date | date: "%B %d, %Y" }}</p>
    </li>
  {% endfor %}
</ul>

<p>Total posts: {{ site.posts | size }}</p>



<h1>Tags</h1>

{% assign tags = site.tags | sort %}
<div class="tag-list">
  {% for tag in tags %}
    {% assign tag_name = tag | first %}
    {% assign posts = tag | last %}
    <a href="/tags/{{ tag_name | slugify }}/" class="tag-item">
      {{ tag_name }} ({{ posts | size }})
    </a>
  {% endfor %}
</div>
