:root {
    --hex-magenta: #F72585;
    --hex-black: #001514;
    --hex-g9: #1A2E2D;
    --hex-g8: #334746;
    --hex-g7: #4D605F;
    --hex-g6: #667978;
    --hex-g5: #809291;
    --hex-g4: #99ACAA;
    --hex-g3: #B3C5C3;
    --hex-g2: #CCDEDC;
    --hex-white: #FFFFFF;

    --pico-black: #000000;
    --pico-dark-blue: #1D2B53;
    --pico-dark-purple: #7E2553;
    --pico-dark-green: #008751;
    --pico-brown: #AB5236;
    --pico-dark-gray: #5F574F;
    --pico-light-gray: #C2C3C7;
    --pico-white: #FFF1E8;
    --pico-red: #FF004D;
    --pico-orange: #FFA300;
    --pico-yellow: #FFEC27;
    --pico-green: #00E436;
    --pico-blue: #29ADFF;
    --pico-indigo: #83769C;
    --pico-pink: #FF77A8;
    --pico-peach: #FFCCAA;
    
}