.footer {
    margin-top: 2em;
    padding: 2em 0 0 0;
    border-top: 2px solid var(--pico-white);
}

.footer-links {
    margin: 0;
    padding: 0
    
}

.footer-link {
    list-style-type: none;
    margin: 0 1em 0 0;
    padding: 0;
    display: inline-block
}