


a,
a:active,
a:visited {
    color: var(--hex-magenta); /* A blue color by default. You can change this to any color you prefer. */
    text-decoration: none;
    background-color: transparent;
    transition: color 0.3s ease-in-out;
}
  
a:hover {
    color: var(--hex-white);
    text-decoration: underline;
}
  
a:focus {
    outline: thin dotted;
}
