.page {
    display: flex;
    min-height: 100vh;
    gap: 2rem;
    padding: 2rem;
}

.page-sidebar {
    flex: 0 0 8rem;
    position: sticky;
    top: 0;
    height: calc(100vh - 4em);
}

.page-main {
    flex: 1;
}