.page {
    display: flex;
    min-height: 100vh;
    gap: 2rem;
    padding: 2rem;
}

.page-sidebar {
    flex: 0 0 8rem;
    position: sticky;
    top: 0;
    height: calc(100vh - 4em);
}

.page-main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.page-main-content {
    flex: 1;
}

.page-main-footer {
  flex: 0;
}


@media (max-width: 768px) {
    .page {
      flex-direction: column;
      gap: 1.5rem;
      padding: 1.5rem;
    }
  
    .page-sidebar {
      flex: none;
      position: static;
      height: auto;
      width: 100%;
    }
  
    .page-main {
      width: 100%;
    }
  }