* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: 'DepartureMono', monospace;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.6; 

    background-color: var(--pico-black);
    color: var(--pico-white);
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, li, table, th, td {
    font: inherit; /* Inherit font properties from body */
    color: inherit; /* Inherit color */
    background: transparent; /* Remove any default background */
    border: none; /* Reset borders */
    margin: 0; /* Remove margins */
    padding: 0; /* Remove padding */
    list-style-type: none; /* Reset list styles */
    text-decoration: none; /* Reset links */
}

/* Specific overrides */
a {
    color: inherit; /* Link color matches text */
    text-decoration: underline; /* Optional: underline links */
  }
  
  button, input, textarea {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
  }
  
  /* Uniform table styling */
  table {
    border-collapse: collapse; /* Remove gaps between table cells */
    width: 100%; /* Ensure tables take up full width */
  }
  
  th, td {
    text-align: left; /* Default alignment */
    padding: 0.5rem; /* Add padding for readability */
  }
  
  /* Remove default focus styles */
  :focus {
    outline: none;
  }