
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="{{ page.description }}" />
  <link rel="stylesheet" type="text/css" href="/assets/css/modern-normalize.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css?v={{ site.time | date: '%Y%m%d%H%M%S' }}" />
  <link rel="icon" href="/assets/favicon.png">
</head>
<body id="{{ page.style }}">
  {{ content }}
</body>
</html>